.home-main{
    margin: 0px;
    
    
}

@media (min-width:1200px){
    .home-main{
        margin-left: 250px;
    }
}

.home-head{
   font-family: var(--font-family-primary);
   color:var(--text-primary-color) ;
   text-align: center;
   margin: 0px;
   font-size: 30px;
}


    

